@import "bootstrap-sprockets";
@import "bootstrap";

.alert, .back {
  margin-top: 1.5em;
}

.featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.featured > div {
  width: 32%;
}

.product-filter {
  width: 150px;
  display: inline-block;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  margin: .5em;
  width: 120px;
}
