@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Poiret+One|Poppins');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff4f1;
}

h1, h2 {
  font-family: 'Poiret One', sans-serif;
}

.jumbotron {
  background-color: #75253b;
}

.jumbotron h1 {
  color: #ecd1ca;
}

a {
  color: #b94969;
}

a:hover {
  color: #e29baf;
}

.btn {
  background-color: #615055;
  color: #e2d1cd;
}

.btn:hover {
  background-color: #987d85;
  color: #fff3f1;
}

.page-header, .panel-default, .panel-default .panel-heading, .form-control {
  border-color: #e2d1cd;
}

.panel-default .panel-heading {
  background-color: #f3e5e1;
}

.landing {
  padding-bottom: 9px;
  border-bottom: 1px solid #e2d1cd;
}

.container {
  min-height: 100vh;
  position: relative;
}

.page-contents {
  margin-bottom: 5em;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  text-align: center;
  margin-bottom: 2em;
}

.panel.panel-default, #jumbotron {
  border-radius: 0px;
}

.alert, .back {
  margin-top: 1.5em;
}

.flex-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.featured > div {
  width: 32%;
}

.contact {
  margin-top: 3em;
}

.contact h2 {
  text-align: center;
}

.contact-info {
  width: 20%;
  min-width: 215px;
  margin-left: auto;
  margin-right: auto;
}

.contact-detail {
  padding-left: 1em;
}

.products-header {
  display: flex;
  align-items: flex-end;
}

.products-header form {
  margin-bottom: 10px;
  margin-left: .5em;
}

.product-filter {
  width: 150px;
  height: 25px;
  display: inline-block;
}

.filter-button {
  vertical-align: top;
  padding:  0px 3px;
  height: 24px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  margin: .5em;
  width: 120px;
}

.review-author {
  color: #927d83;
}
