@import "bootstrap-sprockets";
@import "bootstrap";

.container {
  min-height: 100vh;
  position: relative;
}

.page-contents {
  margin-bottom: 5em;
}

.alert, .back {
  margin-top: 1.5em;
}

.featured {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.featured > div {
  width: 32%;
}

.product-filter {
  width: 150px;
  display: inline-block;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product {
  margin: .5em;
  width: 120px;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 0px;
  text-align: center;
  margin-bottom: 2em;
}
